<launch>
  <node pkg="robot_main" type="movement_controller.py"
        name="movement_controller" output="screen" />
  <node pkg="robot_main" type="referee_listener.py"
        name="referee_listener" output="screen" />
  <include file="$(find robot_hardware)/launch/robot_hardware.launch" />
  <include file="$(find robot_logic)/launch/robot_logic.launch" />
</launch>
